{
 :floss  :thesis.losses/ELBOWithDiscLoss
 :data   #call :thesis.utils/load_data
 :epochs 30
 :ae     {:optim #unary :torch.optim/Adam
          :backward {:retain_graph true}
          :order 1}
 :disc {:optim #unary :torch.optim/Adam
        :backward {:retain_graph true}}
 :model
 #ccall{:name :thesis.arch.avb/AVB
        :args {:enc  {:layers #call{:name :thesis.arch.utils/gen_layers_number
                                    :args {:input   (* 28 28)
                                           :output  2
                                           :nlayers 4}}}
               :disc {:layers #call {:name :thesis.arch.utils/gen_layers_number
                                     :args {:input   (* 28 28)
                                            :output  1
                                            :nlayers 4}}}

               :dec {:layers #call{:name :thesis.arch.utils/gen_layers_number
                                   :args {:input   2
                                          :output  (* 28 28)
                                          :nlayers 4}}}}}}
