{
 :seed   1
 :data   #call :thesis.utils/load_data
 :epochs 30
 :loss   {:name :thesis.losses/ELBOWithDiscLoss
          :ae   {:optim    #unary :torch.optim/Adam
                 :backward {:retain_graph true}
                 :order    1}
          :disc {:optim    #unary :torch.optim/Adam
                 :backward {:retain_graph true}}}

 :validate [:thesis.losses/MSELoss]
 :model
 #ccall{:name :thesis.arch/AVB
        :args {:enc  {:layers #call{:name :thesis.arch/gen_layers_number
                                    :args {:input   (* 28 28)
                                           :output  9
                                           :nlayers 4}}}
               :disc {:layers #call {:name :thesis.arch/gen_layers_number
                                     :args {:input   (* 28 28)
                                            :output  1
                                            :nlayers 4}}}

               :dec {:layers #call{:name :thesis.arch/gen_layers_number
                                   :args {:input   9
                                          :output  (* 28 28)
                                          :nlayers 4}}}}}}
