{
 :floss  :thesis.losses/ELBOLoss
 :data   #call :thesis.utils/load_data
 :epochs 20
 :ae     {:optim #unary :torch.optim/Adam}
 :model
 #ccall{:name :thesis.arch.vae/VAE
  :args {:enc {:layers    #call{:name :thesis.arch.utils/gen_layers_number
                           :args {:input   (* 28 28)
                                  :output  2
                                  :nlayers 4}}}

         :dec {:layers    #call{:name :thesis.arch.utils/gen_layers_number
                           :args {:input   2
                                  :output  (* 28 28)
                                  :nlayers 4}}}}}
 }
