{
 :seed 1
 :data   #call :thesis.utils/load_data
 :epochs 30
 :loss {:name :thesis.losses/MSELoss
        :ae {:optim #unary :torch.optim/Adam}}
 :validate [:thesis.losses/MSELoss]
 :model
 #ccall{:name :thesis.arch/VanillaAutoencoder
        :args {:enc {:layers #call{:name :thesis.arch/gen_layers_number
                                   :args {:input   (* 28 28)
                                          :output  9
                                          :nlayers 4}}}

               :dec {:layers    #call{:name :thesis.arch/gen_layers_number
                                      :args {:input   9
                                             :output  (* 28 28)
                                             :nlayers 4}}}}}
 }
